<div class="divider"></div>
<div class="section">
<h1>Characters#index</h1>
</div>
<div class="divider"></div>
<div class="section">
<ul>
  <% @characters.each do |character| %>
    <li> Name: <%= character.name %> </li>
    <li> Bio: <%= character.bio %> </li>
  <% end %>
</ul>
</div>
