<h1>Locations#new</h1>
<form action="/locations" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="textarea" name="description">
  <input type="submit" value="Submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
</form>
